<div style='text-align: center; padding: 5% 15% 5% 15%'>
  <h1 style='color: #01323a'>Link de confirmação</h1>
  <p style='font-size: 20px; color: #333333'>
    Seja bem-vindo! Você está prestes a finalizar seu cadastro! Aqui está o seu
    link de confirmação. Basta clicar no botão abaixo
  </p>
  <a
    style='
      background-color: #85e5cf;
      border-radius: 50px;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      font-size: 15px;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    '
    href='{{url}}'
  >
    Confirme seu email
  </a>

</div>
<p>
  Att,
</p>
<p>
  COLCIC - Colegiado de Ciências da Computação - UESC
</p>